li{
  padding: 0.25rem;
  margin: 0.25rem;
  list-style: none;
}


/* FIRST-CHILD / LAST-CHILD */
li:first-child{
  background: red;
}
li:last-child{
  background: red;
}

/* NTH-CHILD */
/* POSITION 3 */
li:nth-child(3){
  background: purple;
}
/* EVERY 3 */
li:nth-child(3n+0){
background: orange;
}

/* EVERY 3 AFTER 7 */
li:nth-child(3n+7){
  background: orchid;
}

/* EVERY ODD */
li:nth-child(odd){
  background: #ccc;
}

/* EVERY EVEN */
li:nth-child(even){
  background: #ddd;
}
