
body{
  background: #333;
}
.box{
  background: white;
  width: 200px;
  height: 200px;
  position: relative;

  /* animation-name: animate-1;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in; */

  animation: animate-1 5s forwards 1s ease-in-out;
}


@keyframes animate-1{
  from {
    width: 200px;
    top: 0;
  }

  to {
    width: 600px;
    background-color: red;
    top: 300px;
  }
}