@media screen and (min-width: 1100px) {
  /* ALIGN ICON TO THE LEFT */
  #what .items .item{
    display: flex;
    text-align: left ;
  }
  /* POSITION ICON */
  #what .items .item i{
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
  }

  #contact .map{
    flex: 2;
    flex-basis: 70%;
  }




}



