 /* Element/Tag Selectors  */
 body {
  background-color: #333;
}

/* . is for classes */

.primary-heading {
  color: green;
  margin: 20px;
}

/* # is for IDs */
#welcome {
  background-color: #f4f4f4;
}

#about {
  color: whitesmoke;
}

/* Multiple Selectors */
#welcome,
#about {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

/* Nested Selectors */
#welcome p {
  font-size: 20px;
}